/* common css  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.font {
    font-size: 23px;
    font-weight: 400;
}


@font-face {
    font-family: Roboto;
    src: url(Fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(Fonts/montserrat/Montserrat-Regular.ttf);
}

/* body{
    margin: 12px;
} */

/* navigation bar styling */

.navbar {
    display: flex;
    height: 80px;
    flex-wrap: wrap;
    align-items: center;
}

li {
    display: inline-block;
}

.logo-img {
    width: 180px;
    margin-left: 35px;
}

.menu-items {
    padding: 32px 45px;
    font-family: "Montserrat";
}

.menu-items:hover {
    background-image: linear-gradient(0deg, #155ed1 0%, #ba5cff 100%);
    color: white;

}

.menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}

/* home page css  */

.home-page-img {
    width: 100%;
}

/* cards css  */

.cards-style {
    height: 382px;
    width: 312px;
    color: white;
    padding: 26px;
}

.parent-cards {
    justify-content: space-evenly;
    margin: 0px 46px;
    
}

.parent-cards p {
    padding-top: 40px;
    text-align: justify;
}

.card-1 {
    background-image: linear-gradient(0deg, #ff8615 0%, #ffaf00 99%, #ffaf00 100%);

}

.card-2 {
    background-image: linear-gradient(0deg, #155ed1 0%, #ba5cff 100%);

}

.card-3 {
    background-image: linear-gradient(0deg, #ff1c98 0%, #ff3050 100%);

}

.card-4 {
    background-image: linear-gradient(0deg, #b61fe0 0%, #ff14e7 99%, #ff14e7 100%);

}

h2 {
    font-size: 51px;
    font-weight: 500;
}

.Arrow {
    padding: 14px 0px 0px 232px
}

/* welcome-school css  */

.text-block p {
    padding: 30px 40px 36px 0px;
}

.block-row1 {
    justify-content: space-evenly;
    padding: 38px;
}

.block-row2 {
    justify-content: space-evenly;
    padding: 0px 38px 38px 38px;
}

.block-img {
    width: 650px;
    height: 492px;
}

.text-block {
    /* width: 46%; */
    padding: 100px 56px;
    width: 650px;
    height: 492px;
    background-color: #f7f7f7;
}

.text-block p{
    text-align: justify;
}

/* background image */

.bg-img {
    background-image: url(Images/background-img.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.template {
    /* height: 700px; */
    width: 650px;
    background-image: linear-gradient(0deg, #f6058e 0%, #ff3351 100%);
    opacity: 0.902;
    color: white;
    padding: 75px;
    margin-left: 86px;
}

.p1 {
    padding: 60px 0px 0px 0px;
    text-align: justify;
}

.p2 {
    padding: 45px 0px 36px 0px;
    text-align: justify;
}

.know-more {
    width: 190px;
    height: 60px;
    color: #000000;
    text-align: center;
    border: none;
}

.read-more {
    width: 145px;
    height: 50px;
    background-image: linear-gradient(87deg, #ff8b00 0%, #ff3050 100%);
    text-align: center;
    color: white;
    border: none;
}

.read-more:hover {
    cursor: pointer;
    background-image: linear-gradient(157deg, #ffaa41 0%, #fe3b58 100%);
}

.know-more:hover {
    cursor: pointer;
    background-image: linear-gradient(90geg, #dcdcdcba 0%, #e0dddd 100%);
}

/* events style  */

.event-text {
    width: 650px;
    height: 492px;
    background-image: linear-gradient(0deg, #ff7f00 0%, #ffbb18 99%, #ffbb18 100%);
    color: white;
    padding: 40px 0px 0px 60px;
}

.event-text h2 {
    padding-bottom: 30px;
}

.Ellipse-img {
    padding: 12px 0px;
    padding-right: 16px;
}

.text {
    padding-top: 12px;
}

.events {
    justify-content: space-evenly;
    padding: 38px;
}

/* profiles styling */

.profile {
    justify-content: space-evenly;
    text-align: justify;
}

.child-profile {
    width: 312px;
    height: 413px;
    background-color: #f3f3f3;
}

.profile-img {
    border-radius: 50%;
    margin: 20px 64px
}

.child-profile :nth-child(2) {
    padding: 0px 56px 25px 56px
}

.child-profile :nth-child(3) {
    font-size: 34px;
    line-height: 34px;
    color: #ff6300;
    font-weight: 400;
    padding: 10px 0px 0px 56px;
}

/* footer styling  */

.footer-child {
    justify-content: space-evenly;
    padding: 38px;
}

.contact {
    height: 492px;
    width: 650px;
    padding: 65px 0px 0px 65px;
    background-color: #A8D26D;
    background-image: linear-gradient(0deg, #A1C4FD 0%, #C2E9FB 100%);
}

.address {
    padding-top: 24px;
}

.contact-div {
    padding: 25px 0px 0px 0px;
}

.mobile-symbol {
    padding: 8px 8px 0px 0px;
}

.mail {
    padding: 16px 0px 16px 0px;
}

.privacy-policy {
    /* justify-content: center; */
    padding-bottom: 40px;
    color: grey;
    text-align: center;
}